/*
*
* @Author : Prasanth S <prasanthwebdeveloper@gmail.com>
* 
*/

#test2 {
	background-color: #666;
	color: white;
	font-weight: bold;
}

#test3 {
	background-color: #CCC;
	color: white;
	font-weight: bold;
}
